# SPDX-FileCopyrightText: 2022-2025 Tim Hawes <me@timhawes.com>
#
# SPDX-License-Identifier: CC0-1.0

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    exclude: ^requirements\.txt$
  - id: end-of-file-fixer
  - id: check-added-large-files
  - id: check-ast
- repo: https://github.com/psf/black
  rev: 25.11.0
  hooks:
  - id: black
- repo: https://github.com/asottile/pyupgrade
  rev: v3.21.1
  hooks:
  - id: pyupgrade
- repo: https://github.com/astral-sh/uv-pre-commit
  rev: 0.9.10
  hooks:
    - id: uv-export
