[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-allauth = "*"
django-bootstrap5 = "*"
django-countries = "*"
django-phonenumber-field = {extras = ["phonenumbers"], version = "*"}
django-extensions = "*"
passlib = "*"
ldif = "*"
ldap3 = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3"
