[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.*"
django-allauth = "*"
django-bootstrap5 = "*"
django-countries = "*"
django-phonenumber-field = {extras = ["phonenumbers"], version = "*"}
django-extensions = "*"
passlib = "*"
ldif = "*"
ldap3 = "*"
requests = "*"
gunicorn = "*"
tabulate = "*"
# django-countries requires pkg_resources from setuptools
# https://github.com/SmileyChris/django-countries/issues/442
setuptools = "*"

[dev-packages]

[requires]
python_version = "3"
