{% extends "base.html" %}

{% load humanize %}

{% block content %}
<section>
  <div class="container">
    <h1>Group {{ group.name }}</h1>
    <table class="table table-striped align-middle">
      <thead>
      <tr>
        <th>Member</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
      {% for user in users %}
      <tr>
        <td>{{ user.username }}</td>
        <td>
          <form method="POST" action="{% url 'groupadmin_remove_user' group.name user.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-xs btn-link">
              <i class="bi-trash" style="color:black"></i>
            </button>
          </form>
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="container">
    <p>
      <form method="POST" action="{% url 'groupadmin_add_user' group.name %}">
        {% csrf_token %}
        <select name="user_id">
          <option value=""></option>
          {% for user_id, user_name in new_users %}
          <option value="{{ user_id }}">{{ user_name }}</option>
          {% endfor %}
        </select>
        <button type="submit" class="btn btn-default">Add</button>
      </form>
    </p>
  </div>
  <div class="container">
    <a href="{% url 'home' %}" class="btn btn-outline-secondary">Home</a>
    <a href="{% url 'groupadmin_list' %}" class="btn btn-outline-secondary">Groups</a>
  </div>
</section>

{% endblock %}
