{% extends "base.html" %}

{% load humanize %}

{% block content %}
<section>
  <div class="container">
    <h1>SSH Keys</h1>
    <p>You have the following SSH keys assigned to your account:</p>
    <table class="table table-striped align-middle">
      <thead>
        <tr>
          <th>Key</th>
          <th>Comment</th>
          <th>Enabled</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for sshkey in sshkeys %}
          {% if sshkey.enabled %}
          <tr>
          {% else %}
          <tr class="text-muted">
          {% endif %}
            <td><a href="{% url 'posixusers_sshkeys_edit' sshkey.id %}">{{ sshkey.key|truncatechars:30 }}</a></td>
            <td>{{ sshkey.comment }}</td>
            {% if sshkey.enabled %}
            <td>
              <form method="POST" action="{% url 'posixusers_sshkeys_disable' sshkey.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-text py-0"><i class="bi-toggle-on"></i></button>
              </form>
            </td>
            {% else %}
            <td>
              <form method="POST" action="{% url 'posixusers_sshkeys_enable' sshkey.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-text py-0"><i class="bi-toggle-off" style="color:grey"></i></button>
              </form>
            </td>
            {% endif %}
            <td>
              <a data-bs-toggle="modal" data-bs-target="#modal-delete-{{ sshkey.id }}" href="#">
                <i class="bi-trash" style="color:black"></i>
              </a>
              <div class="modal" id="modal-delete-{{ sshkey.id }}">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-body">
                      <p>Delete SSH key?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <form method="POST" action="{% url 'posixusers_sshkeys_delete' sshkey.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Yes</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="container">
    <a href="{% url 'posixusers_sshkeys_add' %}"><button class="btn btn-secondary">Add Key</button></a>
  </div>
</section>

{% endblock %}
