{% extends "base.html" %}

{% load humanize %}

{% block content %}
<section>
  <div class="container">
    <h1>Delete SSH key?</h1>
    <table class="table table-striped">
      <tr>
        <th>Key</th>
        <th>Comment</th>
      </tr>
      <tr>
        <td>{{ sshkey.key|truncatechars:40 }}</td>
        <td>{{ sshkey.comment }}</td>
      </tr>
    </table>
    <form method="post">
      {% csrf_token %}
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Delete</button>
        <a href="{% url 'posixusers_sshkeys' %}" class="btn btn-default" role="button">Cancel</a>
      </div>
    </form>
  </div>
</section>
{% endblock %}
