{% extends "base.html" %}

{% block content %}

{{ prompts }}

<div class="container">
  <h1>Mailing Lists</h1>

  <table class="table table-sm table-striped align-middle">
    <thead>
      <tr>
        <th>List</th>
        <th>Description</th>
        <th>Subscribe</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        {% for l in mailinglists %}
          {% if l.subscriptions %}
            {% for subscription in l.subscriptions %}
              <tr>
                {% if subscription.row == 0 %}
                  <td>{{ l.name }}{% if l.recommended %} <i class="bi-star-fill" style="color:orange" data-toggle="tooltip" title="Recommended!"></i>{% endif %}</td>
                  <td data-toggle="tooltip" title="{{ l.description }}">{{ l.description|truncatewords:6 }}</td>
                {% else %}
                  <td></td>
                  <td></td>
                {% endif %}
                <td>
                  {% if l.can_unsubscribe %}
                  <form method="POST" action="{% url 'mailman2_unsubscribe' l.name subscription.email %}" style="display: inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-text py-1"><i class="bi-toggle-on"></i></button>
                  </form>
                  {% endif %}
                  {% if subscription.delivery_status == 2 %}{# BYUSER #}
                  <span data-toggle="tooltip" title="You are subscribed but have disabled mail delivery.">(no mail)</span>
                  {% elif subscription.delivery_status == 3 %}{# BYADMIN #}
                  <span data-toggle="tooltip" title="You are subscribed but the administrator has disabled mail delivery for you.">(no mail)</span>
                  {% elif subscription.delivery_status == 4 %}{# BYBOUNCE #}
                  <span data-toggle="tooltip" title="Your mail has been bouncing so delivery has been disabled.">(bouncing)</span>
                  {% endif %}
                </td>
                <td>
                  {% if l.archive_private %}
                    <form method="POST" action="{{ mailman_url }}/mailman/private/{{ l.name }}/" style="display: inline">
                      <input type="hidden" name="username" value="{{ subscription.email }}" />
                      <input type="hidden" name="password" value="{{ subscription.password }}" />
                      <button type="submit" class="btn btn-sm btn-light">archives</button>
                    </form>
                  {% else %}
                    <form method="POST" action="{{ mailman_url }}/mailman/pipermail/{{ l.name }}/" style="display: inline">
                      <button type="submit" class="btn btn-sm btn-light">archives</button>
                    </form>
                  {% endif %}
                  <form method="POST" action="{{ mailman_url }}/mailman/options/{{ l.name }}" style="display: inline">
                    <input type="hidden" name="email" value="{{ subscription.email }}" />
                    <input type="hidden" name="password" value="{{ subscription.password }}" />
                    <button type="submit" class="btn btn-sm btn-light">options</button>
                  </form>
                </td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td>{{ l.name }}{% if l.recommended %} <i class="bi-star-fill" style="color:orange" data-toggle="tooltip" title="Recommended!"></i>{% endif %}</td>
              <td data-toggle="tooltip" title="{{ l.description }}">{{ l.description|truncatewords:6 }}</td>
              <td>
                {% if l.can_subscribe %}
                  <form method="POST" action="{% url 'mailman2_subscribe_primary' l.name %}" style="display: inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-text py-1"><i class="bi-toggle-off" style="color:grey"></i></button>
                  </form>
                {% endif %}
              </td>
              <td>
                {% if not l.can_subscribe %}
                  <a class="btn btn-sm btn-light" href="{{ mailman_url }}/mailman/listinfo/{{ l.name }}">info</a>
                {% endif %}
                {% if not l.archive_private %}
                <form method="POST" action="{{ mailman_url }}/mailman/pipermail/{{ l.name }}/" style="display: inline">
                  <button type="submit" class="btn btn-sm btn-light">archives</button>
                </form>
                {% endif %}
              </td>
            </tr>
          {% endif %}
        {% endfor %}
    </tbody>
  </table>

  <p>Email: {{ verified_address }} [<a href="{% url 'account_email' %}">edit</a>]</p>

  {% if verified_addresses.count > 1 %}
  <p>
    Switch to <a href="#" data-bs-toggle="modal" data-bs-target="#modal-advanced-mode">advanced mode</a> if you wish to use multiple email addresses.
  </p>

  <div class="modal" id="modal-advanced-mode">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <p>Switch to advanced mode?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <form method="POST" action="{% url 'mailman2_advanced_mode' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Yes</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

</div>

{% endblock %}
